extends ../layout/index

block contenido
    //- El div directamente lo omite, lo quita, porque nada, es igual a div para pug
    .py-2
        div(class="container mx-auto flex items-center justify-center")
            img(src="/img/icon.png", alt="" width="50rem" class="inline")
            h1.text-4xl.my-10.font-extrabold.text-center Inmo
                span.font-normal Click
        h2.text-center.text-2xl.font-extrabold= pagina

        //- Si hay errores...
        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                //- Eliminamos el action para que lo envíe a la misma URL
                form.space-y-5(method="POST")
                    //- Con este input oculto se va a leer el token enviado al renderizar la página y si es correcto, lo compara con la clave privada registrada en nuestro sistema, sabe que es un request que viene de nuestra URL.
                    input(type="hidden", name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Introduce tu Nuevo Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nuevo Password" type="password" name="password")                 
                        
                    div(class="flex items-center justify-between space-x-6")
                        input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded shadow" type="submit" value="Guardar Password")
                        a(href="javascript:history.back()" class="block text-center w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded shadow") Volver Atrás