doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/img/icon.png", type="image/x-icon")
        title InmoClick | #{pagina} 
        //- De esta forma recibimos de forma dinámina una variable desde el controller
        //- leaflet (mapas) requiere una hoja de estilos
        block styles
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-50
        include ./includes/header-admin

        //- Tenemos que definir bloques para luego poder insertar contenido en los archivos .pug que heredan de index.pug
        main(class="mx-auto container px-2")
            block contenido

        //- Bloque para la parte de mapas
        block scripts